/* Custom base styles */
body {
    font-family: 'Inter', sans-serif;
}
.font-lora {
    font-family: 'Lora', serif;
}
.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/hero_cover.webp');
    background-size: cover;
    background-position: center;
}
/* Style for the navbar when scrolled */
.scrolled {
    background-color: rgba(13, 76, 82, 0.9); /* A slightly transparent dark teal */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
header {
    transition: background-color 0.5s ease-in-out;
}

.cta-parallax-bg {
    background-image: url('images/cta-background.webp');
}